@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.img{
    width:120px ;
    height: 120px;
    transition: 0.4s;

    border-radius: 30%;
    filter: drop-shadow(13px 20px 1px #0000004d);
    padding-bottom: 15px;
    
    }
.img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.outerDiv{
    margin:-150px auto 0 auto;
    padding: auto;
    justify-content:center;
    align-items:center;
    background-color: #FAEDCE;
    z-index: 9;
    
}
.h2{
    margin: auto;
    margin-top: 100px;
    padding:130px 0;
   color: #8C3061;;
   text-align: center;
    font-size: 50px;
    max-width:930px ;
   
}
.p{
    margin: auto;
    padding:20px;
    text-align: center;
    font-size: 30px;
    max-width:930px ;
    margin-bottom: 20px;
    border-radius: 30px;
    border: #fff 1px solid;
    transition: background-color 0.5s ease, box-shadow 0.3s ease;
    transition: border ease-out 2s ,border-radius ease 1s;
    max-width: 930px;
}

.Carousel{
    max-width: 98.1%;
    align-items: center;
}
.frontend>span,.backend>span{
    padding: 10px ;
    margin: 0 20px 0 0;
    background-color: #60b5ff;
    border-radius: 10px;  
    transition:0.45s ;
 }
 .frontend, .backend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.frontend>span:hover,.backend>span:hover{
    background-color: #D95F59;
    color: #ffffff;
    box-shadow: 0 12px 24px #D95F59;

 }

 
.first {
    
    position: relative;
}

.wev::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 90%;
    width :65%;
    height: 25%;
    background-color:#FAEDCE;
    z-index: -1;
    transform: translate(68% ,-70%);
}

.wev::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 1%;
    width: 99%;
    height: 30%;
    background-color: #FAEDCE;
    z-index: -1; 
    transform: translate(-40% ,-50%);
}

 
@media (min-width: 768px) and (max-width: 930px) {
    .img{
        width:80px !important;
        height: 80px;
    
    }

}
@media (max-width: 768px) {
    .img{
        width:40px !important;
        height: 40px;
    
    }

}
